---
layout: default
title: Welkom
---
<div class="callout">
	<p>Welkom op Geloof in je werk. Deze website bevat een archief van alle artikelen die op Geloof in je werk zijn verschenen. Er worden geen nieuwe artikelen meer geplaatst. Kies één van de artikelen hieronder of kies eerst een categorie aan de rechterkant.</p>
</div>
<div class="list">
{% for post in site.posts %}
	<div class="list-item">
		<h2 class="article-title">
			<a href="{{ post.url }}" class="article-title-link" rel="bookmark" title="Permanente link naar {{ post.title }}">{{ post.title }}</a>
		</h2>
		<span class="article-date">{{ post.date | date: '%d-%m-%Y' }}</span>
		{% if post.excerpt %}
			<p>
				{{ post.excerpt }}
			</p>
		{% endif %}
	</div>
{% endfor %}
</div>