//
// Elements.scss
// ---------------------------------------------------------------------------
// Contains the default element styling
//

html {
	font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 0.875em; // 14px
	line-height: 1.75;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.4em;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 20px;
}