//
// Variables.scss
// ---------------------------------------------------------------------------
// Contains the variables for default colors etc.
//

// Colors
// ------
$color-black:				#111111;
$color-blue:				#336699;
$color-gray:				#DDDDDD;
$color-white:				#FFFFFF;

$color-primary:				$color-blue;
$color-primary-contrast:	$color-white;
$color-text-default:		$color-black;

$color-border-default:		$color-gray;
$color-shadow-default:		$color-black;

// Sizes
// -----
$sizes-base-font: 			16;