//
// Article.scss
// ---------------------------------------------------------------------------
// Contains the article styles
//

.article-title {
	margin-bottom: 0;
	line-height: 1.25;
}

.article-date {
	font-size: 0.85em;
	line-height: 1;
}