//
// Callout.scss
// ---------------------------------------------------------------------------
// Contains the callout styles
//

@import "compass/css3";

.callout {
	margin-bottom: 24px;
	padding: 0 14px;
	background-color: $color-border-default;
	border: 1px solid darken($color-border-default, 20%);
	@include box-shadow(2px 2px 14px -4px $color-shadow-default);
}