---
layout: default
---

<h1 class="category">{{ page.title }}</h1>
<div class="list">
{% for post in site.categories[page.category] %}
	<div class="list-item">
		<h2 class="article-title">
			<a href="{{ post.url }}" class="article-title-link" rel="bookmark" title="Permanente link naar {{ post.title }}">{{ post.title }}</a>
		</h2>
		<span class="article-date">{{ post.date | date: '%d-%m-%Y' }}</span>
		{% if post.excerpt %}
			<p>
				{{ post.excerpt }}
			</p>
		{% endif %}
	</div>
{% endfor %}
</div>