<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - Geloof in je werk</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header cf">
				<h1 class="page-title"><a href="/">Geloof in je werk</a></h1>
				<h2 class="page-subtitle">christen zijn op je werk</h2>
			</div>
			<div class="main">
				{{ content }}
			</div>
			<div class="sidebar">
				<h2>Categorieën</h2>
				{% category_list %}
			</div>
		</div>
	</body>
</html>