<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - Geloof in je werk</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="header cf">
				<h1 class="page-title"><a href="/">Geloof in je werk</a></h1>
				<h2 class="page-subtitle">christen zijn op je werk</h2>
			</div>
			<div class="main">
				{{ content }}
			</div>
			<div class="sidebar">
				<div class="aside">
					<h2>Categorieën</h2>
					<ul class="no-bullets">
						{% category_list %}
					</ul>
				</div>
				<div class="aside">
					<h2>E-book De Spiegel</h2>
					<a href="/despiegel/">
						<img src="/images/2010/03/De-Spiegel-240x240px.jpg" height="240" width="240" alt="E-book De Spiegel: Jouw identiteit in Christus uitgelegd"/>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>